@page "/"
@using PizzaPlace.Models;

<h1>Our Selection of Pizzas</h1>


@foreach (var item in State.Menu.Pizzas)
{
    <div class="row">

        <div class="col">
            @item.Name
        </div>
        <div class="col">
            @item.Price
        </div>
        <div class="col">
            <img src="@SpicinessImage(item.Spiciness)" alt="item.Spiciness" />
        </div>
        <div class="col">
            <button class="btn btn-success" @onclick="(() => AddToBasket(item))">Add</button>
        </div>

    </div>
}


<!-- End menu --> <!-- Shopping Basket -->
@if (State.Basket.Orders.Any())
{
    <h1>
        Your currenttly have @State.Basket.Orders.Count()
        @currentOrder(State.Basket.Orders.Count()) on order!
    </h1>


    @foreach (var (pizza, pos) in
      State.Basket.Orders.Select(
          (id, pos) => (State.Menu.GetPizza(id), pos)))
    {
        <div class=" row">
            <div class=" col">@pizza.Name</div>
            <div class=" col">@pizza.Price</div>
            <div class=" col">
                <button class=" btn btn-danger" @onclick="(() => RemoveFromBasket(pos))">
                    Remove
                </button>
            </div>
        </div>
    }

    <div class=" row">
        <div class=" col">Total: </div>
        <div class=" col">@State.TotalPrice</div>
        <div class=" col"></div>
    </div>

}

<!-- End shopping basket -->
<!-- Customer entry -->
@if (State.Basket.Orders.Any())
{ 
    <h1>Please enter your details below:</h1>

    <fieldset>

        <p>
            <label for="name">Name:</label>
            <input name="name" @bind="State.Basket.Customer.Name" />
        </p>

        <p>
            <label for="street">Street:</label>
            <input name="street" @bind="State.Basket.Customer.Street" />
        </p>

        <p>
            <label for="city">City:</label>
            <input name="city" @bind="State.Basket.Customer.City" />
        </p>

        <button @onclick="PlaceOrder">CheckOut</button>


    </fieldset>

}

@code
{

    private string SpicinessImage(Spiciness spiciness)
        => $"images/{spiciness.ToString().ToLower()}.png";

    private State State { get; } = new State()

    {
        Menu = new Menu
        {
            Pizzas = new List<Pizza>
{
                    new Pizza(1, "Perporoni", 8.99M, Spiciness.Spicy),
                    new Pizza(2, "Margarita", 7.99M, Spiciness.None),
                    new Pizza(3, "Diablo", 9.99M, Spiciness.Hot)
                }
        }

    };

    private void AddToBasket(Pizza pizza)
    {
        Console.WriteLine($"Added a pizza {pizza.Name}");
        State.Basket.Add(pizza.Id);
    }

    private void RemoveFromBasket(int pos)
    {
        Console.WriteLine($"Removing pizza at pos {pos}");
        State.Basket.RemoveAt(pos);
    }

    public string currentOrder(int count)
    {
        return (count > 1) ? "Pizzas" : "Pizza";
    }

    private void PlaceOrder()
    {
        Console.WriteLine("Placing Order!");
    }

}